###
# #%L
# TESB :: Assembly
# %%
# Copyright (c) 2006-2021 Talend Inc. - www.talend.com
# %%
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# #L%
###

db.datasource=ds-derby
db.dialect=derbyDialect
# 访问控制功能新增，用来控制记录表对象的序列化和反序列 2023-06-16 xingzilong
# 是否启用记录表的序列化
enableRecordTable=true
# 初始等待时间
startDelay=10
# 轮询时间间隔
scanIntervall=10
