<!--
  #%L
  CRMService Client STS
  %%
  Copyright (c) 2006-2021 Talend Inc. - www.talend.com
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<blueprint
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:jaxws="http://cxf.apache.org/blueprint/jaxws"
    xmlns:p="http://cxf.apache.org/policy"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cxf="http://cxf.apache.org/blueprint/core"
    xsi:schemaLocation="
        http://www.osgi.org/xmlns/blueprint/v1.0.0 https://osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
        http://cxf.apache.org/blueprint/jaxws http://cxf.apache.org/schemas/blueprint/jaxws.xsd
        http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
        http://www.w3.org/ns/ws-policy http://www.w3.org/2007/02/ws-policy.xsd
        http://cxf.apache.org/blueprint/core http://cxf.apache.org/schemas/blueprint/core.xsd">

    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

    <jaxws:client id="CRMServiceClient"
        xmlns:serviceNamespace="http://services.talend.org/CRMService"
        serviceClass="org.talend.services.crmservice.CRMService"
        serviceName="serviceNamespace:CRMServiceProvider"
        endpointName="serviceNamespace:CRMServicePort"
        address="${endpoint.prefix}/CRMServiceProvider">
        <jaxws:properties>
           <entry key="security.signature.properties" value="clientKeystore.properties"/>
           <entry key="security.callback-handler">
                <bean class="common.talend.ClientCallbackHandler"/>
           </entry>
           <entry key="security.sts.client">
               <bean class="org.apache.cxf.ws.security.trust.STSClient">
                   <argument ref="cxf"/>
                       <property name="wsdlLocation" value="${sts.endpoint.prefix}/SecurityTokenService/UT?wsdl" />
                       <property name="serviceName"
                           value="{http://docs.oasis-open.org/ws-sx/ws-trust/200512/}SecurityTokenService" />
                       <property name="endpointName"
                           value="{http://docs.oasis-open.org/ws-sx/ws-trust/200512/}UT_Port" />
                   <property name="properties">
                       <map>
                           <entry key="security.username" value="tadmin"/>
                           <entry key="security.callback-handler">
                                <bean class="common.talend.ClientCallbackHandler"/>
                           </entry>
                           <entry key="security.encryption.properties" value="clientKeystore.properties"/>
                           <entry key="security.encryption.username" value="mystskey"/>
                           <entry key="security.sts.token.usecert" value="true"/>
                           <entry key="security.sts.token.username" value="myclientkey"/>
                           <entry key="security.sts.token.properties" value="clientKeystore.properties"/>
                           <entry key="ws-security.is-bsp-compliant" value="false"/>
                       </map>
                   </property>
               </bean>
           </entry>
        </jaxws:properties>
        <jaxws:features>
            <p:policies>
                <wsp:PolicyReference URI="classpath:/saml.policy"/>
            </p:policies>
        </jaxws:features>
    </jaxws:client>

    <service ref="CRMServiceClient" interface="org.talend.services.crmservice.CRMService"/>

</blueprint>
