<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <servers>
		<server>
			<id>nexus.repo-release</id>
			<username>admin</username>
			<password>Talend123</password>
		</server>
		<server>
			<id>nexus.repo-snapshot</id>
			<username>admin</username>
			<password>Talend123</password>
		</server>
  </servers>


</settings>

