###
# #%L
# TESB :: Assembly
# %%
# Copyright (c) 2006-2021 Talend Inc. - www.talend.com
# %%
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# #L%
###
collector.scheduler.interval=500
collector.maxEventsPerCall=10
collector.lifecycleEvent=false
collector.sendToEventadmin=false

log.messageContent=true
log.maxContentLength=-1
log.enforceMessageIDTransfer=true
log.messageContent.override=true

service.url=http://localhost:8040/services/MonitoringServiceSOAP
service.retry.number=3
service.retry.delay=5000
executor.pool.size=20

# Authentication type NO,BASIC,USERNAMETOKEN,SAML to SAM server
service.authentication = NO
service.security.username = ${env:TESB_SAM_SERVICE_SECURITY_USERNAME:-${TESB_SAM_SERVICE_SECURITY_USERNAME:-tesb}}
service.security.password = ${env:TESB_SAM_SERVICE_SECURITY_PASSWORD:-${TESB_SAM_SERVICE_SECURITY_PASSWORD}}

policy.ut = ${tesb.home}/etc/org.talend.esb.sam.agent.client.ut.policy
policy.saml = ${tesb.home}/etc/org.talend.esb.sam.agent.client.saml.policy

security.signature.properties = file:${tesb.home}/etc/keystores/clientKeystore.properties
security.signature.username = myclientkey
security.signature.password = ${env:TESB_CLIENT_KEY_PASSWORD:-${TESB_CLIENT_KEY_PASSWORD}}

# STS configuration
sts.wsdl.location = http://localhost:8040/services/SecurityTokenService/UT?wsdl
sts.namespace = http://docs.oasis-open.org/ws-sx/ws-trust/200512/
sts.service.name = SecurityTokenService
sts.endpoint.name = UT_Port
security.sts.token.properties = file:${tesb.home}/etc/keystores/clientKeystore.properties
security.sts.token.username = myclientkey
security.sts.token.usecert = true
security.encryption.properties = file:${tesb.home}/etc/keystores/clientKeystore.properties
security.encryption.username = mystskey
ws-security.is-bsp-compliant = false
